# Site Configuration
NEXT_PUBLIC_SITE_URL=https://pujith.com
NEXT_PUBLIC_SITE_NAME=Pujith Sai Kumar Korlepara

# Analytics - Plausible
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=pujith.com


# Comments - Giscus
NEXT_PUBLIC_GISCUS_REPO=****
NEXT_PUBLIC_GISCUS_REPO_ID=*****
NEXT_PUBLIC_GISCUS_CATEGORY=****
NEXT_PUBLIC_GISCUS_CATEGORY_ID=***
